# ========== Core Framework ==========
streamlit
pandas
numpy
matplotlib
requests
beautifulsoup4
ftfy

# ========== NLP Libraries ==========
spacy
thinc
blis
textblob
# Precompiled SpaCy English model (no build time)
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.8.0/en_core_web_sm-3.8.0-py3-none-any.whl

# ========== Machine Learning ==========
scikit-learn
imbalanced-learn

# ========== Utilities ==========
tqdm
regex
#h5py
h5py

confection==0.1.5
srsly==2.4.8
catalogue==2.0.10
preshed==3.0.9
wasabi==1.1.3
